<div class="container mt-5">
    <div class="navbar-start filter">
        <p class="control has-icons-left search">
            <input [(ngModel)]="MethodNameFilter" 
            (keyup)="filterMethods()"
            placeholder="Buscar método" 
            class="input filter-input">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
        <div>
            <select [(ngModel)]="TypeMethodFilter" (change)="filterType()" name="" id="" class="option tipo">
                <option value="" [selected]="(MethodNameFilter != '')">Tipo de Método</option>
                <option value="MAP">Abstinencia periódica</option>
                <option value="MELA">MELA</option>
                <option value="MB">Métodos de barrera</option>
                <option value="AH">Anticonceptivos hormonales</option>
                <option value="DIU">Dispositivos intrauterinos</option>
                <option value="AQV">Anticoncepción quirúrgica voluntaria</option>
                <option value="AE">Anticoncepción de emergencia</option>
            </select>
            <select [(ngModel)]="GenderMethodFilter" (change)="filterGender()" name="" id="" class="option">
                <option value="" [selected]="(MethodNameFilter != '')">Sexo</option>
                <option value="Masculino">Hombre</option>
                <option value="Femenino">Mujer</option>
            </select>
        </div>
        
    </div>
 
    <div class="my-container">
        <p *ngIf="MethodList.length == 0" class="sin-resultados">No se encontraron resultados</p>
        <div class="my-card" *ngFor="let dataItem of MethodList">
            <div class="my-info">
                <h1>{{dataItem.MetodoNombre}}</h1>
                <h2>Descripción</h2>
                <p>{{dataItem.MetodoDescripcion}}</p>
                <h2>Mecanismo de Acción</h2>
                <p>{{dataItem.MetodoMecanismo}}</p>
                <h2>Tasa de Falla</h2>
                <p>• {{dataItem.MetodoTasa.split("|")[0]}}</p>
                <p>• {{dataItem.MetodoTasa.split("|")[1]}}</p>
            </div>
            <div class="my-image">
                <img src="assets/imagenes/{{dataItem.MetodoImagen}}" alt="">
            </div>
        </div> 
    </div>
</div>