<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

<div>
<app-banner></app-banner>
</div>
<div class="columnas">
    <div class="columns is-mobile is-multiline is-centered">
        <div class="column is-3">
            <div class="row center-xs middle-xs-">
                <div class="circulo1 col-xs- "></div>
                <div class="circulo col-xs- ">
                    <img src='../../../assets/iconos/pastillaw.png'>
                </div>
                <div class="contenido">
                    <p class="a" translate>
                        inicio.c1
                    </p>
                    <p class="b" translate>
                        inicio.c2
                    </p>
                    <a (click)="onClick('Info1')" class="c"> <b translate>inicio.c3</b> </a>
                </div>
            </div>
        </div>
        <div class="column is-0">
        </div>
        <div class="column is-3">
            <div class="row center-xs middle-xs-">
                <div class="circulo1 col-xs- "></div>
                <div class="circulo col-xs- ">
                    <img src='../../../assets/iconos/condonw.png'>
                </div>
                <div class="contenido">
                    <p class="a" translate>
                        inicio.c4
                    </p>
                    <p class="b" translate>
                        inicio.c5
                    </p>
                    <a (click)="onClick('Info1')" class="c"> <b translate>inicio.c3</b> </a>
                </div>
            </div>
        </div>
        <div class="column is-0">
        </div>
        <div class="column is-3">
            <div class="row center-xs middle-xs-">
                <div class="circulo1 col-xs- "></div>
                <div class="circulo col-xs- ">
                    <img src='../../../assets/iconos/ubicacionw.png'>
                </div>
                <div class="contenido">
                    <p class="a" translate>
                        inicio.c6
                    </p>
                    <p class="b" translate>
                        inicio.c7
                    </p>
                    <a routerLink="/ubicalos" class="c"> <b translate>inicio.c3</b> </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div  id="Info1"></div>

<div class='info'>
    <div class="columns is-mobile is-3">
        <div class="column is-two-fifths row center-xs middle-xs-">
            <div class="img-femeninos col-xs- ">
                <img src='../../../assets/imagenes/mama1.jpg'>
            </div>
        </div>
        <div class="texto column is-half">
            <div class="femeninos row center-xs middle-xs-">
                <h1 translate>inicio.c8</h1>
                <p translate>
                    inicio.c9
                <br translate>
                inicio.c10
                </p>
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="boton col-sm"> 
                        <a class="c col-xs-" routerLink="/busqueda" translate>inicio.c11</a> 
                    </div>
                    <div class="boton col-sm">
                        <a class="c col-xs-" routerLink="/busqueda/informacion" translate>inicio.c20</a> 
                    </div>
                    <div class="col-sm"></div>
                </div>
                <!-- <div class="boton col-xs-"> 
                    <a class="c col-xs-" routerLink="/busqueda" translate>inicio.c11</a> 
                </div>
                <div class="boton col-xs-">
                    <a class="c col-xs-" routerLink="/busqueda/informacion" translate>inicio.c20</a> 
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="tituloPR  row center-xs middle-xs-">
    <h1 class="pr col-xs-" translate> inicio.c12 </h1>
    <div class="rayita  col-xs-"></div>
</div>

<div class='paginas'>
    <div class="columns is-mobile is-3 row center-xs middle-xs-">
        <a class="pag column is-one-fifth col-xs-">
            <mat-card>
                <img class="gob" mat-card-image src='../../../assets/iconos/gobpe.png'>
                <mat-card-title class="infotarj" translate>inicio.c13</mat-card-title>
                <mat-card-content class="infotarj" translate>inicio.c14</mat-card-content>
                <mat-card-actions>
                    <a class="infotarj" mat-button href="https://www.gob.pe/institucion/minsa/campa%C3%B1as/510-planificacion-familiar" target="_blank"><b translate>inicio.c3</b></a>
                </mat-card-actions>
            </mat-card>
        </a>

        <a class="pag column is-one-fifth col-xs-">
            <mat-card>
                <img class="pp" mat-card-image src='../../../assets/iconos/pp.png'>
                <mat-card-title class="infotarj">Planned Parenthood</mat-card-title>
                <mat-card-content class="infotarj" translate>inicio.c15</mat-card-content>
                <mat-card-actions>
                    <a class="infotarj" mat-button href="https://www.plannedparenthood.org/es" target="_blank"><b translate>inicio.c3</b></a>
                </mat-card-actions>
            </mat-card>
        </a>
        <a class="pag column is-one-fifth col-xs-">
            <mat-card>
                <img class="tde" mat-card-image src='../../../assets/iconos/tde.png'>
                <mat-card-title class="infotarj">Top Doctors</mat-card-title>
                <mat-card-content class="infotarj" translate>inicio.c16</mat-card-content>
                <mat-card-actions>
                    <a class="infotarj" mat-button href="https://www.topdoctors.es/diccionario-medico/planificacion-familiar#" target="_blank"><b translate>inicio.c3</b></a>
                </mat-card-actions>
            </mat-card>
        </a>
        <a class="pag column is-one-fifth col-xs-">
            <mat-card>
                <img class="oms" mat-card-image src='../../../assets/iconos/oms.png'>
                <mat-card-title class="infotarj">OMS</mat-card-title>
                <mat-card-content class="infotarj" translate>inicio.c17</mat-card-content>
                <mat-card-actions>
                    <a class="infotarj" mat-button href="https://www.who.int/es/news-room/fact-sheets/detail/family-planning-contraception" target="_blank"><b translate>inicio.c3</b></a>
                </mat-card-actions>
            </mat-card>
        </a>
    </div>
</div>

<img class="bb" src="../../../assets/imagenes/final.jpg">
<div class="polco row center-xs middle-xs-">
    <p class="fraseFinal " translate>inicio.c18</p><br>
    <p class="fraseFinal2" translate>inicio.c19</p>
    <div class="raya"></div>
</div>