<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">

<!-- <p>inicio works!</p> -->

<app-suscripcion></app-suscripcion>
<div>
<app-banner></app-banner>
</div>
<!-- POR SI SE DECIDE PASAR LAS TARJETAS AQUI
<div class="columns is-mobile is-multiline is-centered">
    <div class="column is-3">
        <div class="row center-xs middle-xs-">
            <div class="circulo col-xs- ">
                <img src='../../../assets/iconos/pastillaw.png'>
            </div>
            <div class="contenido">
                <p class="a">
                    Anticonceptivos femeninos
                </p>
                <p class="b">
                    Las mujeres jóvenes corren un mayor riesgo de dar a luz a un bebé prematuro o con bajo peso al nacer. Además, los hijos de las mujeres adolescentes presentan una tasa mayor de mortalidad neonatal.
                </p>
                <p class="c"> <b>Lee mas</b> </p>
            </div>
        </div>
    </div>
    <div class="column is-0">
    </div>
    <div class="column is-3">
        <div class="row center-xs middle-xs-">
            <div class="circulo col-xs- ">
                <img src='../../../assets/iconos/pastillaw.png'>
            </div>
            <div class="contenido">
                <p class="a">
                    Anticonceptivos femeninos
                </p>
                <p class="b">
                    Las mujeres jóvenes corren un mayor riesgo de dar a luz a un bebé prematuro o con bajo peso al nacer. Además, los hijos de las mujeres adolescentes presentan una tasa mayor de mortalidad neonatal.
                </p>
                <p class="c"> <b>Lee mas</b> </p>
            </div>
        </div>
    </div>
    <div class="column is-0">
    </div>
    <div class="column is-3">
        <div class="row center-xs middle-xs-">
            <div class="circulo col-xs- ">
                <img src='../../../assets/iconos/pastillaw.png'>
            </div>
            <div class="contenido">
                <p class="a">
                    Anticonceptivos femeninos
                </p>
                <p class="b">
                    Las mujeres jóvenes corren un mayor riesgo de dar a luz a un bebé prematuro o con bajo peso al nacer. Además, los hijos de las mujeres adolescentes presentan una tasa mayor de mortalidad neonatal.
                </p>
                <p class="c"> <b>Lee mas</b> </p>
            </div>
        </div>
    </div>
</div>
-->