.texto-colum{
    text-align: center;
}
/*
.panel{
    text-align: center;
    align-items: center;
    justify-content: center;
}
*/
/*
    -moz-border-radius: 5%;
    -webkit-border-radius: 50%;
*/
/* POR SI SE DECIDE PASAR LAS TARJETAS AQUI XD
.circulo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #F05697;
    align-items: center;
}

.circulo img{
    width: 40px;
    vertical-align: middle;
    margin-top: 15px;
}

.contenido{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: black;
    background-color: wheat;
}
.a{
    font-size: 20px;
    line-height: 40px;
}
.b{
    margin: 25px;
    text-align: justify;
    margin-bottom: 10px;
}
.c{
    margin-bottom: 15px;
}
*/