<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

<div class="separacion row center-xs middle-xs- ">
    <div class="sep">
    </div>
</div>

<div class="fonda">
    <div class="columns row center-xs middle-xs- is-mobile ">
        <div class="column is-one-third">
            <h1><b>Sobre Given</b></h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ejercicio ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>

        <div class="column is-one-fifth">
            <h1><b>Main menu</b></h1>
            <a routerLink="/inicio"> Inicio</a><br>
            <a routerLink="/busqueda"> Busqueda</a><br>
            <a routerLink="/graficos"> Graficos</a><br>
            <a routerLink="/ubicalos"> Ubicaciones</a><br>
            <a routerLink="/foro"> Foro</a><br>
        </div>

        <div class="column is-one-fifth">
            <h1><b>Apoyo</b></h1>
            <p>Yapeanos</p>
        </div>
    </div>
</div>
<div class="space">
    <p>Copyright 2021 Planificacion familiar | Reservados todos los derechos</p>
</div>