<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

<div class="separacion row center-xs middle-xs- ">
    <div class="sep">
    </div>
</div>

<div class="fonda">
    <div class="columns row center-xs middle-xs- is-mobile ">
        <div class="column is-one-third">
            <h1><b translate>footer.sg</b></h1>
            <p translate>
                footer.giv
            </p>
        </div>

        <div class="column is-one-fifth">
            <h1><b translate>footer.mep</b></h1>
            <a routerLink="/inicio" translate> header.inicio</a><br>
            <a routerLink="/busqueda" translate> header.bus</a><br>
            <a routerLink="/graficos" translate> header.graficos</a><br>
            <a routerLink="/ubicalos" translate> header.ubicar</a><br>
            <a routerLink="/foro" translate> foro.title</a><br>
        </div>

        <div class="column is-one-fifth">
            <h1><b translate>footer.ap</b></h1>
            <p>Yapeanos</p>
        </div>
    </div>
</div>
<div class="space">
    <p translate>footer.cop</p>
</div>