<div class="searching">
    <h2 class="title">Bienvenido al módulo de consulta</h2>
    <form action="#" class="form">
        <div class="field">
            <label for="metodo">Búsqueda por método anticonceptivo:</label>
            <input type="text" name="metodo" id="metodo">
        </div>
        <div class="field">
            <label for="departamento">Departamento:</label>
            <select name="departamento" id="departamento">
                <option value="">--Seleccione--</option>
                <option value="AMA"> Amazonas </option>
                <option value="ANC"> Ancash </option>
                <option value="APU"> Apurímac </option>
                <option value="ARE"> Arequipa </option>
                <option value="AYA"> Ayacucho </option>
                <option value="CAJ"> Cajamarca </option>
                <option value="CAL"> Callao </option>
                <option value="CUS"> Cusco </option>
                <option value="HUC"> Huánuco </option>
                <option value="HUV"> Huancavelica </option>
                <option value="ICA"> Ica </option>
                <option value="JUN"> Junín </option>
                <option value="LAL"> La Libertad </option>
                <option value="LAM"> Lambayeque </option>
                <option value="LIM"> Lima </option>
                <option value="LMA"> Lima Provincia </option>
                <option value="LOR"> Loreto </option>
                <option value="MDD"> Madre de Dios </option>
                <option value="MOQ"> Moquegua </option>
                <option value="PAS"> Pasco </option>
                <option value="PIU"> Piura </option>
                <option value="PUN"> Puno </option>
                <option value="SAM"> San Martín </option>
                <option value="TAC"> Tacna </option>
                <option value="TUM"> Tumbes </option>
                <option value="UCA"> Ucayali </option>
            </select>
        </div>
        <div class="field">
            <label for="provincia">Provincia:</label>
            <select name="provincia" id="provincia">
                <option value="">--Seleccione--</option>
                <option value="ARE-ARE">Arequipa</option>
                <option value="ARE-CAS">Castilla</option>
                <option value="ARE-CAM">Camaná</option>
                <option value="ARE-CAR">Caravelí</option>
                <option value="ARE-CAY">Caylloma</option>
                <option value="ARE-CON">Condesuyos</option>
                <option value="ARE-UNI">La Unión</option>
                <option value="ARE-ISL">Islay</option>
            </select>
        </div>
        <div class="field">
            <label for="distrito">Distrito:</label>
            <select name="distrito" id="distrito">
                <option value="">--Seleccione--</option>
                <option value="ARE-ARE-ASA">Alto Selva Alegre</option>
                <option value="ARE-ARE-ARE">Arequipa</option>
                <option value="ARE-ARE-CAY">Cayma</option>
                <option value="ARE-ARE-CCO">Cerro Colorado</option>
                <option value="ARE-ARE-CHA">Characato</option>
                <option value="ARE-ARE-CHI">Chiguata</option>
                <option value="ARE-ARE-JHU">Jacobo Hunter</option>
                <option value="ARE-ARE-JBR">José Luis Bustamante y Rivero</option>
                <option value="ARE-ARE-LJO">La Joya</option>
                <option value="ARE-ARE-MAR">Mariano Melgar</option>
                <option value="ARE-ARE-MIR">Miraflores</option>
                <option value="ARE-ARE-MOL">Mollebaya</option>
                <option value="ARE-ARE-PAU">Paucarpata</option>
                <option value="ARE-ARE-POC">Pocsi</option>
                <option value="ARE-ARE-POL">Polobaya</option>
                <option value="ARE-ARE-QUE">Quequeña</option>
                <option value="ARE-ARE-SAB">Sabandía</option>
                <option value="ARE-ARE-SAC">Sachaca</option>
                <option value="ARE-ARE-SJS">San Juan de Siguas</option>
                <option value="ARE-ARE-SJT">San Juan de Tarucani</option>
                <option value="ARE-ARE-SIS">Santa Isabel de Siguas</option>
                <option value="ARE-ARE-SRS">Santa Rita de Siguas</option>
                <option value="ARE-ARE-SOC">Socabaya</option>
                <option value="ARE-ARE-TIA">Tiabaya</option>
                <option value="ARE-ARE-UCH">Uchumayo</option>
                <option value="ARE-ARE-VIT">Vítor</option>
                <option value="ARE-ARE-YAN">Yanahuara</option>
                <option value="ARE-ARE-YAR">Yarabamba</option>
                <option value="ARE-ARE-YUR">Yura</option>
            </select>
        </div>
        <div class="field">
            <label for="sexo">Sexo:</label>
            <select name="sexo" id="sexo">
                <option value="">--Seleccione--</option>
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
            </select>
        </div>
        <div class="buttons">
            <button class="buscar" type="submit"><i class="fas fa-search"></i>Buscar</button>
            <button class="limpiar" type="reset"><i class="fas fa-trash-restore-alt"></i>Limpiar</button>
        </div>
    </form>
</div>