<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap" rel="stylesheet">

<div class="fraseinicio">
    <p>LA PALABRA PROHIBIDO<br>  
        NO SIEMPRE SIGNIFICA QUE<br>  
        NO PUEDAS HACERLO <br> 
        SOLO QUE DEBES HACERLO<br>  
        CON CUIDADO</p>
</div>

<div class='swiper-container' >
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor='let img of imagenes'>
            <div class="imagen">
                <img [src]="img" alt="imagen de fondo">
            </div>

        </div>
    </div>
</div>
