<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap" rel="stylesheet">

<div class='swiper-container' >
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor='let img of imagenes'>
            <div class="imagen">
                <img [src]="img" alt="imagen de fondo">
            </div>
            <div class="fraseinicio">
                <p>LA PALABRA PROHIBIDO NO SIEMPRE<br> 
                    SIGNIFICA QUE NO PUEDAS HACERLO <br> 
                    SOLO QUE DEBES HACERLO CON <br> 
                    CUIDADO</p>
            </div>

            <div class="columnas">
                <div class="columns is-mobile is-multiline is-centered">
                    <div class="column is-3">
                        <div class="row center-xs middle-xs-">
                            <div class="circulo1 col-xs- "></div>
                            <div class="circulo col-xs- ">
                                <img src='../../../assets/iconos/pastillaw.png'>
                            </div>
                            <div class="contenido">
                                <p class="a">
                                    Anticonceptivos femeninos
                                </p>
                                <p class="b">
                                    Las mujeres jóvenes corren un mayor riesgo de dar a luz a un bebé prematuro o con bajo peso al nacer. Además, los hijos de las mujeres adolescentes presentan una tasa mayor de mortalidad neonatal.
                                </p>
                                <p class="c"> <b>Lee mas</b> </p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-0">
                    </div>
                    <div class="column is-3">
                        <div class="row center-xs middle-xs-">
                            <div class="circulo1 col-xs- "></div>
                            <div class="circulo col-xs- ">
                                <img src='../../../assets/iconos/condonw.png'>
                            </div>
                            <div class="contenido">
                                <p class="a">
                                    Anticonceptivos masculinos
                                </p>
                                <p class="b">
                                    Los métodos anticonceptivos como el preservativo ofrecen una doble protección, ya que evitan el embarazo y el riesgo de transmisión de enfermedades sexuales como el VIH
                                </p>
                                <p class="c"> <b>Lee mas</b> </p>
                            </div>
                        </div>
                    </div>
                    <div class="column is-0">
                    </div>
                    <div class="column is-3">
                        <div class="row center-xs middle-xs-">
                            <div class="circulo1 col-xs- "></div>
                            <div class="circulo col-xs- ">
                                <img src='../../../assets/iconos/ubicacionw.png'>
                            </div>
                            <div class="contenido">
                                <p class="a">
                                    Hospitales mas cercanos
                                </p>
                                <p class="b">
                                    Según la definición dada por la Organización Mundial de la Salud (OMS), la planificación familiar incluye todos los procedimientos destinados a controlar la reproducción.
                                </p>
                                <p class="c"> <b>Lee mas</b> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
