table {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text {
    text-transform: capitalize;
}

.filter-input {
    height: 2.5rem;
}

th:nth-child(1), th:nth-child(8) {
    width: 55px;
}

th:nth-child(2), th:nth-child(9) {
    width: 100px;
}

th:nth-child(3), th:nth-child(10) {
    width: 200px;
}

th:nth-child(4), th:nth-child(11) {
    width: 250px;
}

th:nth-child(5), th:nth-child(12) {
    width: 320px;
}

th:nth-child(6), th:nth-child(13) {
    width: 100px;
}

.my-container {
    display: grid;
    grid-template-columns: 1fr 40px 40px;
}

i {
    font-size: 1rem;
}

.button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.sin-resultados {
    text-align: center;
    font-size: 1.15rem;
    margin-top: 2rem;
}

.more-filters {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: .5rem;
}

.more-text {
    margin-left: .5rem;
}

.filtros-tabla {
    margin-top: 1rem;
    margin-bottom: -1rem;
}

input, select {
    height: 2rem;
    padding: 0 .5rem;
    margin-right: .2rem;
}
