<div class="container mt-5">
    <div class="my-container">
        <div class="navbar-start filter">
            <p class="control has-icons-left">
                <input 
                    #txtSearch
                    (keyup)="onSearchAnticoncepcion(txtSearch.value)" 
                    placeholder="Buscar" 
                    class="input filter-input">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </p>
        </div>
        <button class="button is-link is-light" (click)="prevPage()"
        [disabled]="page == 0">
            <span class="icon"><i class="fas fa-chevron-left"></i></span>
        </button>
        <button class="button is-link is-light" (click)="nextPage()" 
        [disabled]="(AnticoncepcionList | filtro:page:search).length < 15">
            <span class="icon"><i class="fas fa-chevron-right"></i></span>
        </button>
    
    </div>

    <table class="table is-bordered is-hoverable" *ngIf="(AnticoncepcionList | filtro:page:search).length > 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Mes</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Método</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataItem of AnticoncepcionList | filtro:page:search">
                <td>{{dataItem.Id}}</td>
                <td>{{dataItem.Mes}}</td>
                <td class="text">{{dataItem.Departamento.toLowerCase()}}</td>
                <td class="text">{{dataItem.Provincia.toLowerCase()}}</td>
                <td class="text">{{dataItem.Distrito.toLowerCase()}}</td>
                <td>{{dataItem.Inicio}}</td>
                <td>{{dataItem.Fin}}</td>
                <td class="text">{{dataItem.Metodo.toLowerCase()}}</td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="(AnticoncepcionList | filtro:page:search).length == 0" class="sin-resultados">No se encontraron resultados</p>
    
</div>

<!-- FORMULARIO -->

<!-- <div class="searching">
    <h2 class="title">Bienvenido al módulo de consulta</h2>
    <form action="#" class="form">
        <div class="field">
            <label for="metodo">Búsqueda por método anticonceptivo:</label>
            <input type="text" name="metodo" id="metodo">
        </div>
        <div class="field">
            <label for="departamento">Departamento:</label>

            <select [(ngModel)]="selectedRegion.id" (change)="onSelectRegion($event)" name="regione">
                <option *ngFor="let region of regiones" value={{region.id}}>
                    {{region.name}}
                </option>
            </select>
        </div>
        <div class="field">
            <label for="provincia">Provincia:</label>
            <select [(ngModel)]="selectedProvincia.id" (change)="onSelectProvincia($event)" name="provincia">
                <option *ngFor="let provincia of provincias" value="{{provincia.id}}">
                    {{provincia.name}}
                </option>
            </select>
        </div>
        
        <div class="field">
            <label for="distrito">Distrito:</label>
            <select [(ngModel)]="selectedDistrito.id" name="distrito">
                <option *ngFor="let distrito of distritos" value="{{distrito.id}}">
                    {{distrito.name}}
                </option>
            </select>
        </div>
        <div class="field">
            <label for="sexo">Sexo:</label>
            <select name="sexo" id="sexo">
                <option value="">--Seleccione--</option>
                <option value="hombre">Hombre</option>
                <option value="mujer">Mujer</option>
            </select>
        </div>
        <div class="buttons">
            <button class="buscar" type="submit"><i class="fas fa-search"></i>Buscar</button>
            <button class="limpiar" type="reset"><i class="fas fa-trash-restore-alt"></i>Limpiar</button>
        </div>
    </form>
</div> -->