<!-- <app-header></app-header> -->

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
    	<a class="navbar-item" href="#">
      		<img src='../../../assets/iconos/LOGO.jpg' width="117" height="47">
    	</a>

    	<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      		<span aria-hidden="true"></span>
      		<span aria-hidden="true"></span>
      		<span aria-hidden="true"></span>
    	</a>
  	</div>

  	<div id="navbarBasicExample" class="navbar-menu">
    	<!--LOGGED: {{isLogged}}--><!--PRUEBA PARA CONECCION-->
    	<div class="navbar-end">

            <!-- <a routerLink="/inicio" class="navbar-item">
        		Inicio
      		</a> -->

            <a class="navbar-item" href="#">
        		Inicio
      		</a>

            <a routerLink="/graficos" class="navbar-item">
        		Graficos
      		</a>

      		<a routerLink="/ubicalos" class="navbar-item">
        		Ubicalos
      		</a>

      		<li class="navbar-item" *ngIf="isLogged">
				<a routerLink="/foro" class="navbar-item">Foro</a>
			</li>
			
            <!-- Crear routerLink para Preguntas Frecuentes -->
			<!-- <a class="navbar-item">
        		Preguntas Frecuentes
      		</a> -->

      		<div class="navbar-item has-dropdown is-hoverable">
        		<a class="navbar-link">
          			Contactenos
        		</a>

        		<div class="navbar-dropdown">
          			<a class="navbar-item">
            			<span class="icon-text has-text-info">
            				<span class="icon">
        						<i class="fas fa-at"></i>
      						</span>
      						<span>Correo</span>
            			</span>
          			</a>
          			<a class="navbar-item">
            			<span class="icon-text has-text-info">
            				<span class="icon">
        						<i class="fas fa-phone"></i>
      						</span>
      						<span>Telefono</span>
            			</span>
          			</a>
          			<a class="navbar-item">
            			<span class="icon-text has-text-info">
            				<span class="icon">
        						<i class="fab fa-facebook"></i>
      						</span>
      						<span>Facebook</span>
            			</span>
          			</a>
          			<hr class="navbar-divider">
          			<a class="navbar-item">
            			Reportar Error
          			</a>
        		</div>
      		</div>

      		<div class="navbar-item " *ngIf="!isLogged">
				<div class="buttons">
					<a routerLink='/login' class="button is-primary">
						<strong>Login</strong>
					</a>
				</div>
			</div>

			<li class="navbar-item" *ngIf="isLogged">
				<figure class="image is-32x32">
					<img class="is-rounded" src="{{user.photoUrl}}" alt="profile">
				</figure>
				<!--<img src="{{user.photoUrl}}" class="image is-32x32"  alt="profile" >-->
				<div class=" m-1">
					<div class="TextUser" *ngIf="providerId != 'password'">{{user.name}}</div>
					<div class="Textemail" >{{user.email}}</div>
				</div>
			</li>
			<div class="navbar-item " *ngIf="isLogged">
				<div class="buttons">
					<a href="" (click)="onLogout()" class="button is-primary">
						<strong>Salir</strong>
					</a>
				</div>
			</div>
    	</div>
  	</div>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
